<ion-view>
    <ion-content>
		<div id="floating-panel">
   			<label class="item item-input">
  				<span class="input-label">Destination</span>
  				<input type="text" id="end" onchange="calcRoute();">
			</label>
    	</div>
        <div id="map" data-tap-disabled="true"></div>
        <ion-footer-bar align-title="left" class="bar-dark">
      <div class="buttons" >
        <button class="button">Left Button</button>
      </div> 
      <h1 class="title"></h1>
      <div class="buttons" ng-click="popover.show($event)">
        <button class="button icon ion-flag" ></button>
      </div>
    </ion-footer-bar>
    </ion-content>
</ion-view>
