<ion-popover-view>
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-click="saveDetails('accident')" target="_blank">
              <i class="icon ion-android-locate"></i> Accident
            </a>
            <a class="item" ng-click="saveDetails('bouchon')" target="_blank">
            <i class="icon ion-model-s"></i> Bouchon
            </a>
            <a class="item" ng-click="saveDetails('radar')" target="_blank">
             <i class="icon ion-clock"></i> Radar
            </a>
            <a class="item" ng-click="saveDetails('police')" target="_blank">
             <i class="icon ion-person-stalker"></i> Police
            </a>
            <a class="item" ng-click="saveDetails('danger')" target="_blank">
             <i class="icon ion-alert-circled"></i> Danger 
            </a>
          </div>
        </ion-content>
</ion-popover-view>
